<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="birdcodeio.webapi" value="https://api.birdcodeio.webapi.org/v3/index.json" />
 </packageSources>
</configuration>
